$path: '/files/fonts/coves/';
@font-face {
	font-family: 'coves';
	src: url($path+'coves_light-webfont.woff2') format('woff2'),
		url($path+'coves_light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'coves';
	src: url($path+'coves_bold-webfont.woff2') format('woff2'),
		url($path+'coves_bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
