p I&rsquo;m a front-end developer in Washington, DC. You can find me on
  = ' '
  a(href='https://twitter.com/neagle') Twitter
  = ' , '
  a(href='https://github.com/neagle/') Github
  = ' , '
  a(href='https://stackoverflow.com/users/399077/nate') Stack Overflow,
  = ' , and '
  a(href='https://www.critiki.com/profile/?user_id=7118') Critiki.
