extends default.pug

block content
	section.column.post
		article
			time=format(date, 'MMMM Do, YYYY')
			h2=title
			.content!=content

		#disqus_thread
			script.
				var disqus_shortname = 'nateeagle',
					disqus_developer = 1,
					disqus_url = 'http://nateeagle.com';

					(function() {
						var d = document, s = d.createElement('script');
						s.src = `https://${disqus_shortname}.disqus.com/embed.js`;
						s.setAttribute('data-timestamp', +new Date());
						(d.head || d.body).appendChild(s);
					})();
